header{
	width: 100%;
	height: 150px;
	overflow: auto;
	background-color: rgb(230,230,250);
}

header ul{
	list-style-type: none;
  	margin: 0 0 0 350px;
  	padding: 0;
}

body{
	background: white;
	margin: 0;
	padding: 0;
}

.logo img{
	position: absolute;
	margin-top: -10px;
	margin-left: 1px;
	height: 150px;
	width: 300px;
}
header li {
  float: left;
  margin-left: 10px;
}

header li a{
	margin-top: 30px; 
	width: 100%;
	height: 100%;
  	display: block;
  	color: black;
  	text-align: center;
  	padding: 20px 15px;
  	text-decoration: none;
  	font-family: Arial;
  	font-size:30px;
}
.active {
  background-color: #4CAF50;
}

.box{
  margin-top:100px;
  width: 50%;
  height: 350px;
  border: 2px solid black;
  margin-left: 22%;
}

.city{
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}

#con1{
	margin-top: 10px;
	margin-right: 10%;
}
button{
	float: left;
	margin-top: 20px;
}